<a href="https://colab.research.google.com/github/gustavo-ifusp/prefeitura_smit_sp360/blob/main/013%20-%20CNES_base_equipamentos_FATO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

#**Lendo o Fato dos estabelecimentos para criar lista: co_unidade**

In [ ]:
dados = pd.read_csv("cnes_fato_estabelecimento.csv")

In [ ]:
dados

                            co_unidade  ...  id_atividade_principal
0      SP00003509205000001329730000101  ...                     NaN
1                        3550309902198  ...                     1.0
2                        3550309902309  ...                     1.0
3                        3550300868663  ...                     1.0
4                        3550300868655  ...                     1.0
...                                ...  ...                     ...
26137                    3550306749755  ...                     1.0
26138                    3550306749771  ...                     1.0
26139                    3550306751040  ...                     1.0
26140                    3550306751008  ...                     1.0
26141                    3550306751024  ...                     1.0

[26142 rows x 21 columns]

In [ ]:
dados.drop(columns =['tipo_unidade.1'], inplace = True)

In [ ]:
data.to_csv(r'cnes_fato_estabelecimento', index = False)

In [ ]:
lista = list(dados['co_unidade'])

In [ ]:
lista

['SP00003509205000001329730000101',
 '3550309902198',
 '3550309902309',
 '3550300868663',
 '3550300868655',
 '3550300868795',
 '3550307122675',
 '3550300819255',
 '3550306373933',
 '3550300811785',
 '3550300811920',
 '3550300719005',
 '3550300733687',
 '3550300772232',
 '3550305044278',
 '3550300759910',
 '3550300760668',
 '3550300040533',
 '3550303294943',
 '3550301057537',
 '3550303203735',
 '3550300063126',
 '3550305426286',
 '3550306147925',
 '3550300635456',
 '3550300062804',
 '3550300063002',
 '3550303684342',
 '3550307589425',
 '3550300759864',
 '3550300760013',
 '3550300760404',
 '3550300771945',
 '3550300771996',
 '3550300067563',
 '3550300772038',
 '3550300772070',
 '3550300757233',
 '3550300759953',
 '3550300760366',
 '3550300701181',
 '3550300701203',
 '3550309994947',
 '3550300772240',
 '3550300772143',
 '3550300772208',
 '3550309902414',
 '3550309902252',
 '3550309902325',
 '3550300772003',
 '3550306932517',
 '3550300772135',
 '3550300772194',
 '3550300772283',
 '3550300718769',
 '3550300719099',
 '3550300747300',
 '3550300760188',
 '3550309786341',
 '3550300819174',
 '3550300876119',
 '3550300876291',
 '3550300876488',
 '3550309873139',
 '3550300884545',
 '3550300690570',
 '3550300690988',
 '3550300733784',
 '3550306532128',
 '3550309978259',
 '3550300884774',
 '3550305924669',
 '3550300873268',
 '3550300701831',
 '3550309875921',
 '3550309794751',
 '3550300835706',
 '3550300844098',
 '3550300844306',
 '3550300844578',
 '3550300853577',
 '3550300853690',
 '3550300853860',
 '3550300854026',
 '3550300795127',
 '3550300795429',
 '3550300557137',
 '3550300557382',
 '3550300795666',
 '3550301057731',
 '3550300835463',
 '3550300835633',
 '3550300457388',
 '3550300803812',
 '3550300803928',
 '3550300828947',
 '3550300829110',
 '3550300830992',
 '3550300471674',
 '3550301044923',
 '3550301058061',
 '3550301045679',
 '3550300408956',
 '3550300409405',
 '3550300854042',
 '3550301043846',
 '3550300690422',
 '3550300690813',
 '3550301053671',
 '3550300408972',
 '3550300367192',
 '3550300701750',
 '3550300829129',
 '3550300811904',
 '3550300378119',
 '3550300378348',
 '3550300393134',
 '3550300393266',
 '3550300452726',
 '3550300452742',
 '3550300453005',
 '3550300266272',
 '3550300421308',
 '3550300421561',
 '3550300788341',
 '3550300861650',
 '3550300861987',
 '3550300862002',
 '3550300862096',
 '3550307377150',
 '3550309028900',
 '3550309096159',
 '3550300266280',
 '3550300457167',
 '3550300457264',
 '3550300457434',
 '3550300463744',
 '3550300884405',
 '3550300884537',
 '3550300835749',
 '3550300835773',
 '3550300844225',
 '3550300844446',
 '3550303479781',
 '3550300478334',
 '3550300478431',
 '3550300481300',
 '3550300483354',
 '3550300884456',
 '3550300884596',
 '3550300884723',
 '3550300393339',
 '3550300393703',
 '3550300399957',
 '3550300408875',
 '3550300409324',
 '3550300454176',
 '3550300454206',
 '3550300457205',
 '3550300457361',
 '3550300441031',
 '3550300443123',
 '3550300445517',
 '3550300795208',
 '3550300795658',
 '3550303683451',
 '3550306416578',
 '3550306100139',
 '3550309798978',
 '3550309799346',
 '3550309917624',
 '3550309369376',
 '3550301056069',
 '3550301057227',
 '3550303326470',
 '3550309822658',
 '3550301027417',
 '3550309797475',
 '3550309799230',
 '3550309028943',
 '3550309110739',
 '3550300817147',
 '3550300844160',
 '3550300844233',
 '3550303613631',
 '3550309902236',
 '3550309902392',
 '3550300772119',
 '3550300772267',
 '3550305110939',
 '3550309910085',
 '3550309961607',
 '3550309961763',
 '3550309855599',
 '3550309855874',
 '3550300804061',
 '3550300760250',
 '3550300760641',
 '3550309961585',
 '3550309836144',
 '3550309836683',
 '3550300772054',
 '3550303242021',
 '3550300781843',
 '3550300803618',
 '3550300803952',
 '3550300733997',
 '3550303239829',
 '3550309756329',
 '3550300760196',
 '3550305147506',
 '3550300760617',
 '3550300828963',
 '3550300829234',
 '3550300844551',
 '3550300828866',
 '3550300829072',
 '3550309769692',
 '3550309773398',
 '3550309786023',
 '3550309786252',
 '3550309786805',
 '3550300829242',
 '3550300835757',
 '3550300844268',
 '3550300844403',
 '3550303511529',
 '3550309855629',
 '3550300781754',
 '3550309855920',
 '3550309856234',
 '3550306716776',
 '3550300701300',
 '3550309817476',
 '3550309817646',
 '3550300718866',
 '3550300719145',
 '3550307469802',
 '3550309917497',
 '3550309917527',
 '3550309917713',
 '3550300719064',
 '3550300635626',
 '3550300747149',
 '3550309836187',
 '3550309836446',
 '3550300701785',
 '3550300719218',
 '3550309822585',
 '3550309836454',
 '3550309836659',
 '3550300635472',
 '3550300635561',
 '3550309817468',
 '3550309817603',
 '3550309810404',
 '3550309810730',
 '3550300844209',
 '3550300844489',
 '3550301058169',
 '3550306148956',
 '3550301026380',
 '3550309822631',
 '3550309810331',
 '3550309810668',
 '3550300690236',
 '3550300861707',
 '3550301058770',
 '3550300876305',
 '3550300829013',
 '3550300829145',
 '3550300795232',
 '3550309767967',
 '3550309769773',
 '3550309786058',
 '3550309786295',
 '3550300795410',
 '3550301057154',
 '3550300876550',
 '3550300868965',
 '3550300868515',
 '3550300868639',
 '3550300868787',
 '3550300788716',
 '3550309758372',
 '3550300690562',
 '3550309797440',
 '3550309786228',
 '3550309786783',
 '3550309768068',
 '3550309769706',
 '3550309773355',
 '3550301056409',
 '3550302789043',
 '3550309763090',
 '3550300803804',
 '3550300803944',
 '3550300844500',
 '3550309763112',
 '3550307159110',
 '3550300803715',
 '3550300804037',
 '3550300819166',
 '3550309042679',
 '3550300861618',
 '3550300861731',
 '3550300861898',
 '3550301058525',
 '3550303665240',
 '3550300274380',
 '3550300876267',
 '3550300635545',
 '3550301042718',
 '3550300635596',
 '3550300635502',
 '3550300635685',
 '3550300274399',
 '3550303613615',
 '3550300635553',
 '3550303209571',
 '3550300806943',
 '3550300718904',
 '3550300719331',
 '3550309949542',
 '3550309971432',
 '3550309994912',
 '3550300054135',
 '3550305968674',
 '3550300701297',
 '3550300791199',
 '3550309965181',
 '3550309909923',
 '3550300811939',
 '3550300718734',
 '3550300719226',
 '3550307659687',
 '3550305678048',
 '3550307777248',
 '3550300053945',
 '3550309949585',
 '3550306323227',
 '3550300719080',
 '3550309943064',
 '3550309949712',
 '3550309961747',
 '3550303314863',
 '3550300676993',
 '3550307225350',
 '3550306988601',
 '3550300024929',
 '3550300025259',
 '3550300025909',
 '3550303998614',
 '3550306225748',
 '3550300082805',
 '3550300030589',
 '3550300795194',
 '3550300795305',
 '3550300795453',
 '3550300819212',
 '3550300819379',
 '3550300040592',
 '3550300147540',
 '3550300788333',
 '3550300788597',
 '3550300067458',
 '3550300087378',
 '3550300844349',
 '3550300844136',
 '3550300844543',
 '3550300835765',
 '3550300835676',
 '3550300075469',
 '3550300048461',
 '3550300048860',
 '3550303432912',
 '3550303518361',
 '3550303651568',
 '3550305346231',
 '3550309048219',
 '3550300718645',
 '3550303446514',
 '3550300054143',
 '3550300030600',
 '3550300040800',
 '3550303925412',
 '3550300054038',
 '3550307977484',
 '3550300040398',
 '3550300040681',
 '3550305841712',
 '3550300803561',
 '3550300803731',
 '3550306025447',
 '3550309424067',
 '3550303536726',
 '3550306887449',
 '3550307990359',
 '3550309434836',
 '3550303666255',
 '3550305332788',
 '3550306448321',
 '3550306547419',
 '3550300795143',
 '3550300795348',
 '3550300795593',
 '3550309855661',
 '3550309855904',
 '3550309750339',
 '3550309756183',
 '3550309756388',
 '3550300853585',
 '3550300853984',
 '3550300853755',
 '3550300853941',
 '3550300861855',
 '3550300861669',
 '3550300861901',
 '3550300862045',
 '3550302091410',
 '3550309873163',
 '3550309909907',
 '3550300884480',
 '3550300884553',
 '3550300884634',
 '3550300884820',
 '3550300803782',
 '3550300803545',
 '3550300803936',
 '3550300804010',
 '3550309756302',
 '3550309758127',
 '3550309797513',
 '3550309740325',
 '3550301024574',
 '3550300690260',
 '3550309978429',
 '3550309984887',
 '3550309985026',
 '3550300803871',
 '3550300804053',
 '3550309989404',
 '3550300075299',
 '3550301056034',
 '3550300781630',
 '3550300811769',
 '3550300811912',
 '3550301057308',
 '3550305254906',
 '3550300063010',
 '3550300082694',
 '3550300082813',
 '3550301059289',
 '3550300101672',
 '3550300102040',
 '3550307371144',
 '3550300117617',
 '3550300030406',
 '3550300030554',
 '3550309332715',
 '3550300063096',
 '3550305400791',
 '3550306504884',
 '3550300853607',
 '3550300034657',
 '3550300733873',
 '3550300803626',
 '3550300803839',
 '3550300803960',
 '3550303439607',
 '3550309188150',
 '3550300771988',
 '3550301058843',
 '3550300868590',
 '3550300868744',
 '3550300868892',
 '3550300082848',
 '3550305110483',
 '3550309931864',
 '3550306362214',
 '3550303328503',
 '3550300690783',
 '3550300829056',
 '3550300829153',
 '3550300690333',
 '3550306441211',
 '3550309971459',
 '3550300781533',
 '3550300781746',
 '3550300781878',
 '3550309786813',
 '3550300781541',
 '3550300781819',
 '3550300868507',
 '3550300868906',
 '3550309763279',
 '3550301057677',
 '3550300690856',
 '3550309768009',
 '3550309768203',
 '3550309772901',
 '3550300747084',
 '3550300747335',
 '3550300771961',
 '3550300772224',
 '3550309763201',
 '3550309763805',
 '3550300819360',
 '3550300746991',
 '3550300747297',
 '3550309763775',
 '3550300803774',
 '3550309978666',
 '3550309965076',
 '3550300781711',
 '3550300811815',
 '3550300733695',
 '3550309943137',
 '3550305421799',
 '3550306311385',
 '3550303937135',
 '3550301057499',
 '3550300829080',
 '3550309750231',
 '3550300746983',
 '3550300747165',
 '3550300690384',
 '3550300690775',
 '3550300691143',
 '3550300691259',
 '3550309863680',
 '3550309844279',
 '3550300876313',
 '3550300875961',
 '3550300876127',
 '3550300719072',
 '3550300719412',
 '3550309949666',
 '3550300760501',
 '3550303635252',
 '3550300853569',
 '3550300853674',
 '3550300853895',
 '3550309950923',
 '3550300690678',
 '3550309799478',
 '3550309844252',
 '3550300835498',
 '3550300835684',
 '3550305479452',
 '3550306759599',
 '3550309786104',
 '3550300868728',
 '3550300868876',
 '3550300795224',
 '3550306859852',
 '3550309902406',
 '3550300507741',
 '3550300507644',
 '3550307921470',
 '3550307921527',
 '3550307912609',
 '3550307912951',
 '3550307912528',
 '3550307912803',
 '3550307912978',
 '3550307909195',
 '3550307912536',
 '3550307921489',
 '3550307921578',
 '3550307909039',
 '3550307910037',
 '3550307921535',
 '3550303472469',
 '3550303472477',
 '3550303473694',
 '3550303473708',
 '3550303472531',
 '3550303473589',
 '3550303472507',
 '3550303473732',
 '3550303473651',
 '3550303472558',
 '3550307910207',
 '3550307912544',
 '3550307912684',
 '3550307921500',
 '3550307912463',
 '3550307912595',
 '3550302062674',
 '3550302078082',
 '3550302034158',
 '3550309014748',
 '3550309036237',
 '3550309042660',
 '3550309399402',
 '3550309036075',
 '3550309048421',
 '3550309053506',
 '3550309053719',
 '3550309055517',
 '3550309055789',
 '3550309060952',
 '3550309018859',
 '3550309025065',
 '3550309028749',
 '3550307888120',
 '3550305526426',
 '3550309055541',
 '3550309053395',
 '3550309053670',
 '3550303150275',
 '3550303147479',
 '3550303139824',
 '3550303141446',
 '3550303124312',
 '3550307979371',
 '3550309061053',
 '3550309055819',
 '3550309053441',
 '3550309053565',
 '3550309060790',
 '3550309012486',
 '3550309025022',
 '3550309025251',
 '3550309028609',
 '3550309012427',
 '3550309018115',
 '3550309062947',
 '3550309063684',
 '3550309134190',
 '3550303461297',
 '3550303468402',
 '3550303468348',
 '3550309116451',
 '3550303467767',
 '3550309084010',
 '3550309084207',
 '3550309085254',
 '3550303462838',
 '3550309123997',
 '3550309124128',
 '3550309124179',
 '3550309121552',
 '3550309131302',
 '3550309129855',
 '3550309131396',
 '3550303467961',
 '3550303469042',
 '3550303461319',
 '3550303467937',
 '3550303468275',
 '3550303467945',
 '3550303468178',
 '3550303468151',
 '3550303468216',
 '3550303468011',
 '3550303467988',
 '3550309102906',
 '3550309131329',
 '3550302072491',
 '3550309103104',
 '3550309091432',
 '3550309091629',
 '3550309116303',
 '3550309406751',
 '3550309406786',
 '3550309407014',
 '3550309407065',
 '3550309407197',
 '3550309116435',
 '3550309124071',
 '3550309091637',
 '3550309134182',
 '3550309102892',
 '3550309102957',
 '3550309103066',
 '3550309139273',
 '3550309234101',
 '3550309234241',
 '3550309172017',
 '3550309171703',
 '3550303204707',
 '3550303204723',
 '3550309139281',
 '3550309152504',
 '3550309116591',
 '3550309110607',
 '3550303183165',
 '3550303201759',
 '3550309095195',
 '3550309096604',
 '3550306340172',
 '3550303202585',
 '3550303204618',
 '3550303203697',
 '3550303203654',
 '3550303204545',
 '3550303201708',
 '3550303204677',
 '3550303203727',
 '3550303202429',
 '3550303201775',
 '3550303202259',
 '3550303204561',
 '3550309110577',
 '3550309110720',
 '3550309116370',
 '3550309116613',
 '3550309124098',
 '3550309121315',
 '3550309130128',
 '3550309131523',
 '3550303385264',
 '3550309145087',
 '3550309199438',
 '3550309199802',
 '3550309227830',
 '3550303386805',
 '3550303363333',
 '3550303381463',
 '3550303386910',
 '3550303378136',
 '3550303383997',
 '3550303383989',
 '3550303378128',
 '3550303383962',
 '3550303377954',
 '3550303381498',
 '3550303386635',
 '3550303386651',
 '3550303377911',
 '3550303384128',
 '3550303384071',
 '3550303378209',
 '3550303384020',
 '3550303385655',
 '3550303378055',
 '3550303381560',
 '3550303378594',
 '3550303378101',
 '3550303386732',
 '3550309048081',
 '3550309186727',
 '3550309186956',
 '3550309191283',
 '3550309196617',
 '3550309199969',
 '3550303384187',
 '3550303384160',
 '3550303386724',
 '3550303384144',
 '3550303384217',
 '3550303386821',
 '3550303384241',
 '3550303390195',
 '3550309186670',
 '3550309196560',
 '3550309199489',
 '3550309199810',
 '3550309227806',
 '3550309228209',
 '3550307993706',
 '3550307993471',
 '3550307993757',
 '3550307993528',
 '3550307993536',
 '3550307993633',
 '3550305526434',
 '3550307992890',
 '3550307993676',
 '3550303053873',
 '3550303171361',
 '3550305681804',
 '3550307996497',
 '3550307993560',
 '3550307994141',
 '3550303146049',
 '3550303146073',
 '3550307996489',
 '3550309000860',
 '3550307980787',
 '3550307980817',
 '3550307990383',
 '3550309053492',
 '3550309053581',
 '3550309053700',
 '3550309055533',
 '3550309055614',
 '3550309055630',
 '3550309055673',
 '3550309055894',
 '3550309048103',
 '3550309048375',
 '3550305591538',
 '3550309053611',
 '3550309055770',
 '3550309048324',
 '3550309048189',
 '3550309048316',
 '3550309048111',
 '3550309048464',
 '3550309048332',
 '3550309050558',
 '3550303272893',
 '3550303273032',
 '3550303273113',
 '3550309053476',
 '3550309971149',
 '3550303275965',
 '3550303291111',
 '3550303277623',
 '3550303277712',
 '3550303279227',
 '3550309978399',
 '3550300040789',
 '3550309978364',
 '3550309978542',
 '3550309978305',
 '3550309978518',
 '3550306444911',
 '3550300040568',
 '3550300254525',
 '3550300254622',
 '3550300254797',
 '3550306444938',
 '3550309965157',
 '3550309971467',
 '3550309085270',
 '3550309152431',
 '3550303447006',
 '3550303475360',
 '3550306446205',
 '3550300082767',
 '3550309989560',
 '3550303474674',
 '3550303446875',
 '3550303446980',
 '3550303446964',
 '3550303446913',
 '3550303452689',
 '3550303554481',
 '3550303477118',
 '3550303477029',
 '3550303476677',
 '3550303477045',
 '3550303477002',
 '3550303476898',
 '3550303476693',
 '3550303479374',
 '3550303479358',
 '3550303479307',
 '3550303476731',
 '3550303479390',
 '3550303477363',
 '3550303479943',
 '3550303476979',
 '3550303476685',
 '3550303484122',
 '3550303484157',
 '3550303482979',
 '3550303484009',
 '3550303475395',
 '3550303484033',
 '3550303484114',
 '3550303482987',
 '3550303484130',
 '3550303475352',
 '3550303475417',
 '3550303482820',
 '3550303482758',
 '3550303482812',
 '3550303482804',
 '3550303482774',
 '3550303484025',
 '3550303476634',
 '3550303482839',
 '3550303482936',
 '3550303487172',
 '3550303487253',
 '3550303487229',
 '3550303487326',
 '3550303487369',
 '3550303486990',
 '3550303487334',
 '3550303487350',
 '3550303869938',
 '3550303869881',
 '3550303869954',
 '3550303869989',
 '3550303870006',
 '3550303872513',
 '3550303872572',
 '3550303872629',
 '3550303874575',
 '3550303874591',
 '3550303874613',
 '3550303874656',
 '3550303874672',
 '3550303874699',
 '3550303874710',
 '3550303874737',
 '3550303874818',
 '3550303876489',
 '3550303874842',
 '3550303876446',
 '3550303876462',
 '3550303876500',
 '3550303876608',
 '3550303876632',
 '3550303876667',
 '3550303877701',
 '3550303877760',
 '3550303877817',
 '3550303877973',
 '3550303878031',
 '3550303878090',
 '3550303880133',
 '3550303880273',
 '3550303880311',
 '3550303880877',
 '3550303881393',
 '3550303881512',
 '3550303881547',
 '3550303882829',
 '3550303882640',
 '3550303882667',
 '3550303882772',
 '3550303884554',
 '3550303884619',
 '3550303884651',
 '3550303885429',
 '3550303885437',
 '3550303885496',
 '3550303885542',
 '3550303885607',
 '3550303885623',
 '3550303885674',
 '3550305874297',
 '3550303241521',
 '3550303241610',
 '3550303241637',
 '3550303242102',
 '3550303242420',
 '3550303242471',
 '3550305482992',
 '3550303219887',
 '3550302080346',
 '3550303016935',
 '3550303211487',
 '3550303210154',
 '3550303210170',
 '3550303218988',
 '3550303233901',
 '3550303260739',
 '3550303261077',
 '3550303239179',
 '3550303237982',
 '3550303238172',
 '3550303239306',
 '3550303239543',
 '3550303241149',
 '3550303259137',
 '3550303210146',
 '3550303234150',
 '3550303237214',
 '3550303586456',
 '3550303607011',
 '3550303613348',
 '3550303586545',
 '3550303613607',
 '3550303613135',
 '3550303613100',
 '3550303595293',
 '3550303613577',
 '3550303607070',
 '3550303607062',
 '3550303613321',
 '3550303613143',
 '3550303613372',
 '3550303613283',
 '3550303619311',
 '3550303619621',
 '3550303616371',
 '3550303620239',
 '3550303619591',
 '3550303619338',
 '3550303619540',
 '3550303619524',
 '3550303615464',
 '3550303615480',
 '3550303615502',
 '3550303595536',
 '3550302078600',
 '3550302089130',
 '3550303700984',
 '3550303701905',
 '3550303754480',
 '3550303754553',
 '3550303758192',
 ...]

In [ ]:
dados2 = pd.read_csv("rlEstabEquipamento202108.csv", sep = ';', header = 0, decimal = ',', parse_dates=True, encoding='utf-8')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
dados2

            CO_UNIDADE  ...  TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')
0        3543402076616  ...                                          NaN
1        3205009458379  ...                                          NaN
2        1302607334583  ...                                          NaN
3        3205202709279  ...                                          NaN
4        3106202695014  ...                                          NaN
...                ...  ...                                          ...
1021450  4204600056138  ...                                          NaN
1021451  5002700054356  ...                                          NaN
1021452  4319000061891  ...                                          NaN
1021453  3523909172696  ...                                          NaN
1021454  4104800089184  ...                                          NaN

[1021455 rows x 9 columns]

In [ ]:
lista_drop = dados2.loc[~dados2['CO_UNIDADE'].isin(lista)]

In [ ]:
lista_drop

            CO_UNIDADE  ...  TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')
0        3543402076616  ...                                          NaN
1        3205009458379  ...                                          NaN
2        1302607334583  ...                                          NaN
3        3205202709279  ...                                          NaN
4        3106202695014  ...                                          NaN
...                ...  ...                                          ...
1021450  4204600056138  ...                                          NaN
1021451  5002700054356  ...                                          NaN
1021452  4319000061891  ...                                          NaN
1021453  3523909172696  ...                                          NaN
1021454  4104800089184  ...                                          NaN

[990267 rows x 9 columns]

In [ ]:
lista_drop = list(lista_drop['CO_UNIDADE'])

lista_drop s√£o as 'co_unidades' que n√£o pertencem a cidade de SP

In [ ]:
data = dados2.loc[~dados2['CO_UNIDADE'].isin(lista_drop)]

In [ ]:
data

           CO_UNIDADE  ...  TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')
31      3550302080125  ...                                          NaN
40      3550302077531  ...                                          NaN
51      3550303349365  ...                                          NaN
62      3550302071568  ...                                          NaN
66      3550302078015  ...                                          NaN
...               ...  ...                                          ...
524182  3550307635524  ...                                          NaN
524199  3550300185361  ...                                          NaN
524248  3550305228905  ...                                          NaN
524253  3550300082848  ...                                          NaN
524283  3550300024910  ...                                          NaN

[31188 rows x 9 columns]

In [ ]:
data = data.rename(columns = {'CO_UNIDADE': 'co_unidade','CO_EQUIPAMENTO':'id_equipamentos','CO_TIPO_EQUIPAMENTO':'id_tipo_equipamentos','QT_EXISTENTE':'qte_existente','QT_USO':'qte_uso','TP_SUS':'tp_sus',"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')":'data_ultima_atualizacao'}, inplace = False)

In [ ]:
data.drop(columns =['CO_USUARIO',"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"], inplace = True)

In [ ]:
data

           co_unidade  id_equipamentos  ...  tp_sus  data_ultima_atualizacao
31      3550302080125                1  ...     1.0               09/09/2021
40      3550302077531                1  ...     1.0               03/09/2021
51      3550303349365                1  ...     2.0               09/07/2019
62      3550302071568                1  ...     1.0               30/08/2021
66      3550302078015                1  ...     1.0               29/07/2021
...               ...              ...  ...     ...                      ...
524182  3550307635524               80  ...     2.0               05/02/2019
524199  3550300185361               80  ...     2.0               12/06/2020
524248  3550305228905               80  ...     2.0               18/03/2020
524253  3550300082848               80  ...     2.0               12/03/2020
524283  3550300024910               80  ...     2.0               14/01/2020

[31188 rows x 7 columns]

In [ ]:
#data = data.loc[lambda data: data["co_unidade"] != 'SP00003509205000001329730000101']

In [ ]:
data.to_csv(r'cnes_fato_equipamentos', index = False)