#**Índicador da Média de alunos por turma em cada escola - 2020**
**Link dos Dados de origem:**
https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/indicadores-educacionais/media-de-alunos-por-turma

Responsável: Gustavo de Andrade - gustavo.andrade@prefeitura.sp.gov.br

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime, date, timedelta

In [3]:
dados = pd.read_excel("ATU_ESCOLAS_2020.xlsx", skiprows = range(0, 8))
dados

                                             NU_ANO_CENSO  ... MED_NS_CAT_0
0                                                    2020  ...           --
1                                                    2020  ...           --
2                                                    2020  ...           --
3                                                    2020  ...           --
4                                                    2020  ...           --
...                                                   ...  ...          ...
175336                                               2020  ...           --
175337                                               2020  ...           --
175338                                                NaN  ...          NaN
175339         Fonte: Censo da Educação Básica 2020/INEP.  ...          NaN
175340  Notas: 1) - Inclusive turmas Unificadas.\n    ...  ...          NaN

[175341 rows x 31 columns]

Filtrando - 'CO_MUNICIPIO' = 3550308 -> São Paulo

In [4]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175341 entries, 0 to 175340
Data columns (total 31 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   NU_ANO_CENSO    175340 non-null  object
 1   NO_REGIAO       175338 non-null  object
 2   SG_UF           175338 non-null  object
 3   CO_MUNICIPIO    175338 non-null  float64
 4   NO_MUNICIPIO    175338 non-null  object
 5   CO_ENTIDADE     175338 non-null  float64
 6   NO_ENTIDADE     175338 non-null  object
 7   NO_CATEGORIA    175338 non-null  object
 8   NO_DEPENDENCIA  175338 non-null  object
 9   ED_INF_CAT_0    175338 non-null  object
 10  CRE_CAT_0       175338 non-null  object
 11  PRE_CAT_0       175338 non-null  object
 12  FUN_CAT_0       175338 non-null  object
 13  FUN_AI_CAT_0    175338 non-null  object
 14  FUN_AF_CAT_0    175338 non-null  object
 15  FUN_01_CAT_0    175338 non-null  object
 16  FUN_02_CAT_0    175338 non-null  object
 17  FUN_03_CAT_0    175338 non-null  object
 18  FUN_04_CAT_0    175338 non-null  object
 19  FUN_05_CAT_0    175338 non-null  object
 20  FUN_06_CAT_0    175338 non-null  object
 21  FUN_07_CAT_0    175338 non-null  object
 22  FUN_08_CAT_0    175338 non-null  object
 23  FUN_09_CAT_0    175338 non-null  object
 24  MULT_ETA_CAT_0  175338 non-null  object
 25  MED_CAT_0       175338 non-null  object
 26  MED_01_CAT_0    175338 non-null  object
 27  MED_02_CAT_0    175338 non-null  object
 28  MED_03_CAT_0    175338 non-null  object
 29  MED_04_CAT_0    175338 non-null  object
 30  MED_NS_CAT_0    175338 non-null  object
dtypes: float64(2), object(29)
memory usage: 41.5+ MB

In [9]:
indicador_media_por_turma = dados.loc[lambda dados: dados["NO_MUNICIPIO"] == "São Paulo"]
indicador_media_por_turma

       NU_ANO_CENSO NO_REGIAO SG_UF  ...  MED_03_CAT_0 MED_04_CAT_0  MED_NS_CAT_0
130920         2020   Sudeste    SP  ...            --           --            --
130921         2020   Sudeste    SP  ...          26.5           --            --
130922         2020   Sudeste    SP  ...            32           --            --
130923         2020   Sudeste    SP  ...          34.2           --            --
130924         2020   Sudeste    SP  ...            30           --            --
...             ...       ...   ...  ...           ...          ...           ...
137910         2020   Sudeste    SP  ...            36           --            --
137911         2020   Sudeste    SP  ...          41.5           --            --
137912         2020   Sudeste    SP  ...            --           --            --
137913         2020   Sudeste    SP  ...            --           --            --
137914         2020   Sudeste    SP  ...          36.1         32.9            --

[6995 rows x 31 columns]

**Verificadores de conteúdo**

In [10]:
len(indicador_media_por_turma)

6995

In [11]:
indicador_media_por_turma.NU_ANO_CENSO.unique()

array([2020], dtype=object)

In [14]:
indicador_media_por_turma.NO_DEPENDENCIA.unique()

array(['Estadual', 'Municipal', 'Privada', 'Federal'], dtype=object)

**Limpando colunas**

In [12]:
indicador_media_por_turma.drop(columns =['NU_ANO_CENSO','NO_REGIAO','SG_UF','CO_MUNICIPIO','NO_MUNICIPIO'], inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
indicador_media_por_turma = indicador_media_por_turma.rename(columns = {'CO_ENTIDADE':'id_escola', 'NO_ENTIDADE':'escola','NO_CATEGORIA':'categoria', 'NO_DEPENDENCIA':'tipo' }, inplace = False)

In [20]:
indicador_media_por_turma = indicador_media_por_turma.rename(columns = {'ED_INF_CAT_0':'total_ens_infantil', 'CRE_CAT_0':'creche_ens_infantil', 'PRE_CAT_0'	: 'pre_escola_ens_infantil' }, inplace = False)

In [22]:
indicador_media_por_turma = indicador_media_por_turma.rename(columns = {'FUN_CAT_0':'total_ens_fund', 'FUN_AI_CAT_0':'total_anos_inciais_ens_fund', 'FUN_AF_CAT_0': 'total_anos_finais_ens_fund','FUN_01_CAT_0':'ano1_ens_fund','FUN_02_CAT_0':'ano2_ens_fund', 'FUN_03_CAT_0':'ano3_ens_fund', 'FUN_04_CAT_0':'ano4_ens_fund', 'FUN_05_CAT_0':'ano5_ens_fund', 'FUN_06_CAT_0':'ano6_ens_fund', 'FUN_07_CAT_0':'ano7_ens_fund', 'FUN_08_CAT_0':'ano8_ens_fund', 'FUN_09_CAT_0':'ano9_ens_fund'}, inplace = False)

In [24]:
indicador_media_por_turma = indicador_media_por_turma.rename(columns = {'MULT_ETA_CAT_0':'turma_multi_estapas_ens_fund'}, inplace = False)

In [26]:
indicador_media_por_turma = indicador_media_por_turma.rename(columns = {'MED_CAT_0':'total_ens_medio','MED_01_CAT_0':'ano1_ens_med','MED_02_CAT_0':'ano2_ens_med','MED_03_CAT_0':'ano3_ens_med','MED_04_CAT_0':'ano4_ens_med','MED_NS_CAT_0':'nao_seriado_ens_medio' }, inplace = False)

#**Tabela Dimensional: media_de_alunos_escolas_dim**

In [28]:
media_de_alunos_escolas_dim = pd.DataFrame()
media_de_alunos_escolas_dim['escola'] = indicador_media_por_turma['escola']
media_de_alunos_escolas_dim['id_escola'] = indicador_media_por_turma['id_escola']

In [29]:
media_de_alunos_escolas_dim

                                                   escola   id_escola
130920                           AYRES DE MOURA PROFESSOR  35000012.0
130921                          GAVIAO PEIXOTO BRIGADEIRO  35000024.0
130922                                       JOAO SOLIMEO  35000036.0
130923                  WALFREDO ARANTES CALDAS PROFESSOR  35000048.0
130924             SEBASTIAO DE OLIVEIRA GUSMAO PROFESSOR  35000059.0
...                                                   ...         ...
137910  ADELAIDE ROSA FERNANDES MACHADO DE SOUZA PROFE...  35925998.0
137911                                    BARRO BRANCO II  35926048.0
137912                         PROFESSORA ELIANA PASSUELO  35926103.0
137913                          CEEJA CLARA MANTELLI DONA  35980018.0
137914                            IFSP - CAMPUS SAO PAULO  35990012.0

[6995 rows x 2 columns]

In [31]:
media_de_alunos_escolas_dim.to_csv(r'media_de_alunos_escolas_dim', index = False)

#**Concluindo a Fato: media_de_alunos_escolas_fato**

In [32]:
indicador_media_por_turma.drop(columns =['escola'], inplace = True)

In [33]:
indicador_media_por_turma

         id_escola categoria  ... ano4_ens_med nao_seriado_ens_medio
130920  35000012.0    Urbana  ...           --                    --
130921  35000024.0    Urbana  ...           --                    --
130922  35000036.0    Urbana  ...           --                    --
130923  35000048.0    Urbana  ...           --                    --
130924  35000059.0    Urbana  ...           --                    --
...            ...       ...  ...          ...                   ...
137910  35925998.0    Urbana  ...           --                    --
137911  35926048.0    Urbana  ...           --                    --
137912  35926103.0    Urbana  ...           --                    --
137913  35980018.0    Urbana  ...           --                    --
137914  35990012.0    Urbana  ...         32.9                    --

[6995 rows x 25 columns]

In [34]:
indicador_media_por_turma.to_csv(r'media_de_alunos_escolas_fato', index = False)