#**Índicador: INSE - 2019 - Nível Socioeconômico por escolas - 2020**
**Link dos Dados de origem:**<br>
https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/indicadores-educacionais/nivel-socioeconomico
<br>
Responsável: Gustavo de Andrade - gustavo.andrade@prefeitura.sp.gov.br

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime, date, timedelta

In [3]:
dados = pd.read_excel("INSE_2019_ESCOLAS.xlsx")

In [4]:
dados

       CO_ESCOLA  ... PC_NIVEL_8
0       11024666  ...       0.00
1       11024682  ...       2.14
2       11024828  ...       0.00
3       11024968  ...       0.00
4       11025077  ...       0.00
...          ...  ...        ...
68863   53068190  ...       0.00
68864   53068203  ...       2.04
68865   53068211  ...       0.00
68866   53068220  ...       0.85
68867   53068238  ...       1.10

[68868 rows x 20 columns]

Legenda das colunas:

![image.png]()

Filtrando - 'CO_MUNICIPIO' = 3550308 -> São Paulo

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68868 entries, 0 to 68867
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CO_ESCOLA            68868 non-null  int64
 1   NOME_ESCOLA          68868 non-null  object
 2   CO_UF                68868 non-null  int64
 3   NOME_UF              68868 non-null  object
 4   CO_MUNICIPIO         68868 non-null  int64
 5   NOME_MUNICIPIO       68868 non-null  object
 6   ID_AREA              68868 non-null  int64
 7   TP_DEPENDENCIA       68868 non-null  int64
 8   TP_LOCALIZACAO       68868 non-null  int64
 9   QTD_ALUNOS_INSE      68868 non-null  int64
 10  INSE_VALOR_ABSOLUTO  68868 non-null  float64
 11  INSE_CLASSIFICACAO   68868 non-null  object
 12  PC_NIVEL_1           68868 non-null  float64
 13  PC_NIVEL_2           68868 non-null  float64
 14  PC_NIVEL_3           68868 non-null  float64
 15  PC_NIVEL_4           68868 non-null  float64
 16  PC_NIVEL_5           68868 non-null  float64
 17  PC_NIVEL_6           68868 non-null  float64
 18  PC_NIVEL_7           68868 non-null  float64
 19  PC_NIVEL_8           68868 non-null  float64
dtypes: float64(9), int64(7), object(4)
memory usage: 10.5+ MB

In [8]:
inse = dados.loc[lambda dados: dados["NOME_MUNICIPIO"] == "São Paulo"]
inse

       CO_ESCOLA  ... PC_NIVEL_8
50892   35000012  ...       1.49
50893   35000024  ...       1.41
50894   35000036  ...       0.60
50895   35000048  ...       1.39
50896   35000059  ...       0.77
...          ...  ...        ...
52561   35925949  ...       0.00
52562   35925998  ...       0.00
52563   35926048  ...       0.30
52564   35926103  ...       0.00
52565   35990012  ...       4.97

[1674 rows x 20 columns]

In [9]:
len(inse)

1674

#**Modelando a tabela**

Limpando colunas desnecessárias:

In [11]:
inse.drop(columns =['CO_UF','NOME_UF','CO_MUNICIPIO','NOME_MUNICIPIO'], inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [15]:
inse.drop(columns =['ID_AREA'], inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
len(inse)

1674

Renomeando colunas

In [22]:
inse = inse.rename(columns = {'QTD_ALUNOS_INSE':'qtd_total_alunos', 'INSE_VALOR_ABSOLUTO':'inse_valor_absoluto','INSE_CLASSIFICACAO':'inse_classificacao'}, inplace = False)

In [25]:
inse = inse.rename(columns = {'QTD_ALUNOS_INSE':'qtd_total_alunos', 'INSE_VALOR_ABSOLUTO':'inse_valor_absoluto','INSE_CLASSIFICACAO':'inse_classificacao'}, inplace = False)

In [24]:
inse = inse.rename(columns = {'PC_NIVEL_1':'percentual_nivel_1', 'PC_NIVEL_2':'percentual_nivel_2', 'PC_NIVEL_3':'percentual_nivel_3', 'PC_NIVEL_4':'percentual_nivel_4','PC_NIVEL_5':'percentual_nivel_5','PC_NIVEL_6':'percentual_nivel_6', 'PC_NIVEL_7':'percentual_nivel_7','PC_NIVEL_8':'percentual_nivel_8' }, inplace = False)

In [27]:
inse

       id_escola  ... percentual_nivel_8
50892   35000012  ...               1.49
50893   35000024  ...               1.41
50894   35000036  ...               0.60
50895   35000048  ...               1.39
50896   35000059  ...               0.77
...          ...  ...                ...
52561   35925949  ...               0.00
52562   35925998  ...               0.00
52563   35926048  ...               0.30
52564   35926103  ...               0.00
52565   35990012  ...               4.97

[1674 rows x 15 columns]

#**Tabela Dimensioanl: inse_escolas_dim**

In [28]:
inse_escolas_dim = pd.DataFrame()
inse_escolas_dim['escola'] = inse['escola']
inse_escolas_dim['id_escola'] = inse['id_escola']

In [29]:
inse_escolas_dim

                                                  escola  id_escola
50892                           AYRES DE MOURA PROFESSOR   35000012
50893                          GAVIAO PEIXOTO BRIGADEIRO   35000024
50894                                       JOAO SOLIMEO   35000036
50895                  WALFREDO ARANTES CALDAS PROFESSOR   35000048
50896             SEBASTIAO DE OLIVEIRA GUSMAO PROFESSOR   35000059
...                                                  ...        ...
52561                           DOM AGNELO CARDEAL ROSSI   35925949
52562  ADELAIDE ROSA FERNANDES MACHADO DE SOUZA PROFE...   35925998
52563                                    BARRO BRANCO II   35926048
52564                         PROFESSORA ELIANA PASSUELO   35926103
52565                            IFSP - CAMPUS SAO PAULO   35990012

[1674 rows x 2 columns]

In [30]:
inse_escolas_dim.to_csv(r'inse_escolas_dim', index = False)

#**Concluindo a Fato: inse_fato**

In [31]:
inse.drop(columns =['escola'], inplace = True)

In [32]:
inse

       id_escola  tipo_escola  ...  percentual_nivel_7  percentual_nivel_8
50892   35000012            2  ...               21.61                1.49
50893   35000024            2  ...                7.93                1.41
50894   35000036            2  ...               11.39                0.60
50895   35000048            2  ...                5.16                1.39
50896   35000059            2  ...                7.02                0.77
...          ...          ...  ...                 ...                 ...
52561   35925949            2  ...                6.50                0.00
52562   35925998            2  ...                0.00                0.00
52563   35926048            2  ...               11.59                0.30
52564   35926103            2  ...                5.33                0.00
52565   35990012            1  ...               37.57                4.97

[1674 rows x 14 columns]

In [33]:
inse.to_csv(r'inse_fato', index = False)