<a href="https://colab.research.google.com/github/gustavo-ifusp/prefeitura_smit_sp360/blob/main/2_Dados_abertos_IDEP_Sao_Paulo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Índice de Desenvolvimento da Educação Paulistana (IDEP) - 2019**
**Link dos Dados de origem:**
http://dados.prefeitura.sp.gov.br/dataset/idep

Responsável: Gustavo de Andrade - gustavo.andrade@prefeitura.sp.gov.br

IDEP: [0,10]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from datetime import datetime, date, timedelta

#**IDEP - Anos Finais**

http://dados.prefeitura.sp.gov.br/dataset/ebb19682-daec-41a9-b7b1-d71e964e1088/resource/995b6b23-218a-4499-afaa-a5f50cca1de8/download/idepanosfinaisescolas2019.xls

In [ ]:
xls = pd.ExcelFile("idepanosfinaisescolas2019.xls")

In [ ]:
xls_1 = pd.read_excel(xls, 'FAIXA 1', skiprows = range(0, 1))
xls_2 = pd.read_excel(xls, 'FAIXA 2', skiprows = range(0, 1))
xls_3 = pd.read_excel(xls, 'FAIXA 3', skiprows = range(0, 1))
xls_4 = pd.read_excel(xls, 'FAIXA 4', skiprows = range(0, 1))
xls_5 = pd.read_excel(xls, 'FAIXA 5', skiprows = range(0, 1))
xls_6 = pd.read_excel(xls, 'FAIXA 6', skiprows = range(0, 1))

In [ ]:
idep_anos_finais = pd.concat([xls_1, xls_2, xls_3, xls_4, xls_5, xls_6], axis = 0, ignore_index=True)
print(idep_anos_finais)

     Cod_Esc                                    Escola  ...     2022     2023
0      94862                EMEF ALBERTO SANTOS DUMONT  ...   5.1494  5.41501
1        191                   EMEF ALIPIO CORREA NETO  ...  5.38381   5.6117
2      95427                   EMEF ALVARES DE AZEVEDO  ...  5.50603  5.65633
3      92827               EMEF ALVARO SILVA BRAGA GAL  ...  4.49791  4.81228
4      93238                    EMEF ANTENOR NASCENTES  ...  5.14667  5.33998
..       ...                                       ...  ...      ...      ...
545    94749  EMEF MARTIN FRANCISCO RIBEIRO DE ANDRADA  ...  6.13859  6.20695
546    94790          EMEF HELENA LOMBARDI BRAGA PROFA  ...  7.11111  7.20288
547    92711               EMEF DEODORO DA FONSECA MAL  ...  5.80454  5.91377
548    93742                  EMEF LUIS SAIA ARQUITETO  ...  6.05144  6.17085
549    93955                EMEF JACKSON DE FIGUEIREDO  ...  5.65554  5.84881

[550 rows x 14 columns]

#**IDEP - Anos iniciais**

http://dados.prefeitura.sp.gov.br/dataset/ebb19682-daec-41a9-b7b1-d71e964e1088/resource/bb22511b-e897-4f6b-a30f-0edd535d2160/download/idepanosiniciaisescolas2019.xlsx

In [ ]:
xlsx = pd.ExcelFile("idepanosiniciaisescolas2019.xlsx")

In [ ]:
xlsx_1 = pd.read_excel(xlsx, 'FAIXA 1', skiprows = range(0, 1))
xlsx_2 = pd.read_excel(xlsx, 'FAIXA 2', skiprows = range(0, 1))
xlsx_3 = pd.read_excel(xlsx, 'FAIXA 3', skiprows = range(0, 1))
xlsx_4 = pd.read_excel(xlsx, 'FAIXA 4', skiprows = range(0, 1))
xlsx_5 = pd.read_excel(xlsx, 'FAIXA 5', skiprows = range(0, 1))
xlsx_6 = pd.read_excel(xlsx, 'FAIXA 6', skiprows = range(0, 1))

In [ ]:
idep_anos_iniciais = pd.concat([xlsx_1, xlsx_2, xlsx_3, xlsx_4, xlsx_5, xlsx_6], axis = 0, ignore_index=True)

In [ ]:
idep_anos_iniciais.reset_index(drop=True, inplace=True)

In [ ]:
display(idep_anos_iniciais)

     Cod_Esc                                        Escola  ...     2022     2023
0        191                       EMEF ALIPIO CORREA NETO  ...  6.26611  6.46106
1        264                    EMEF SYLVIO HECK ALMIRANTE  ...  5.36828  5.59489
2        477       EMEF EDA TEREZINHA CHICA MEDEIROS PROFA  ...  5.69423  5.93027
3       8842              EMEF SEBASTIAO FRANCISCO O NEGRO  ...  5.77704  6.01308
4      10049                      EMEF CHICO FALCONE PADRE  ...  5.49701  5.72434
..       ...                                           ...  ...      ...      ...
545    93203               EMEF LAERTE RAMOS CARVALHO PROF  ...  6.70936  6.88695
546    93173  EMEF JOAQUIM CANDIDO A MARQUES DESEMBARGADOR  ...  7.27353  7.44524
547    92711                   EMEF DEODORO DA FONSECA MAL  ...  6.23394  6.43149
548    93742                      EMEF LUIS SAIA ARQUITETO  ...  5.99766  6.21075
549    93955                    EMEF JACKSON DE FIGUEIREDO  ...  6.41755  6.62494

[550 rows x 14 columns]

#**Modelagem 1 -  anos iniciais**

*   Renomear Colunas
*   Substituir '*' por '0'
*   Converter colunas 'object' em 'float'

In [ ]:
idep_anos_iniciais = idep_anos_iniciais.rename(columns={'NSE' : 'nse', 'ICG':'icg','Faixa':'faixa', 2018: 'idep_2018', 2019: 'idep_2019', '2019.1':'meta_2019', 2020 : 'meta_2020', 2021:'meta_2021', 2022:'meta_2022', 2023:'meta_2023'})

In [ ]:
idep_anos_iniciais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cod_Esc    550 non-null    int64
 1   Escola     550 non-null    object
 2   Diretoria  550 non-null    object
 3   Distrito   550 non-null    object
 4   nse        550 non-null    int64
 5   icg        550 non-null    int64
 6   faixa      550 non-null    int64
 7   idep_2018  550 non-null    object
 8   idep_2019  550 non-null    object
 9   meta_2019  550 non-null    object
 10  meta_2020  550 non-null    object
 11  meta_2021  550 non-null    object
 12  meta_2022  550 non-null    object
 13  meta_2023  550 non-null    object
dtypes: int64(4), object(10)
memory usage: 60.3+ KB

In [ ]:
idep_anos_iniciais.iloc[529:533]

     Cod_Esc                    Escola  ... meta_2022 meta_2023
529    95036    EMEF LEAO MACHADO PROF  ...   6.57027   6.75437
530    19303      CEU EMEF CASA BLANCA  ...   6.76602    6.9645
531    19291        EMEF VARGEM GRANDE  ...         *         *
532    93319  EMEF ALMEIDA JUNIOR PROF  ...   6.08044    6.3102

[4 rows x 14 columns]

Necessário substituir os '*' para valor númerico 0 como str

In [ ]:
idep_anos_iniciais.loc[idep_anos_iniciais.idep_2018 == '*', 'idep_2018'] = '0'
idep_anos_iniciais.loc[idep_anos_iniciais.idep_2019 == '*', 'idep_2019'] = '0'
idep_anos_iniciais.loc[idep_anos_iniciais.meta_2019 == '*', 'meta_2019'] = '0'
idep_anos_iniciais.loc[idep_anos_iniciais.meta_2020 == '*', 'meta_2020'] = '0'
idep_anos_iniciais.loc[idep_anos_iniciais.meta_2021 == '*', 'meta_2021'] = '0'
idep_anos_iniciais.loc[idep_anos_iniciais.meta_2022 == '*', 'meta_2022'] = '0'
idep_anos_iniciais.loc[idep_anos_iniciais.meta_2023 == '*', 'meta_2023'] = '0'

In [ ]:
idep_anos_iniciais.iloc[529:533]

     Cod_Esc                    Escola  ... meta_2022 meta_2023
529    95036    EMEF LEAO MACHADO PROF  ...   6.57027   6.75437
530    19303      CEU EMEF CASA BLANCA  ...   6.76602    6.9645
531    19291        EMEF VARGEM GRANDE  ...         0         0
532    93319  EMEF ALMEIDA JUNIOR PROF  ...   6.08044    6.3102

[4 rows x 14 columns]

Converter colunas 'object' em 'float'

In [ ]:
idep_anos_iniciais['idep_2018'] = idep_anos_iniciais['idep_2018'].astype('float')
idep_anos_iniciais['idep_2019'] = idep_anos_iniciais['idep_2019'].astype('float')
idep_anos_iniciais['meta_2019'] = idep_anos_iniciais['meta_2019'].astype('float')
idep_anos_iniciais['meta_2020'] = idep_anos_iniciais['meta_2020'].astype('float')
idep_anos_iniciais['meta_2021'] = idep_anos_iniciais['meta_2021'].astype('float')
idep_anos_iniciais['meta_2022'] = idep_anos_iniciais['meta_2022'].astype('float')
idep_anos_iniciais['meta_2023'] = idep_anos_iniciais['meta_2023'].astype('float')

In [ ]:
idep_anos_iniciais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cod_Esc    550 non-null    int64
 1   Escola     550 non-null    object
 2   Diretoria  550 non-null    object
 3   Distrito   550 non-null    object
 4   nse        550 non-null    int64
 5   icg        550 non-null    int64
 6   faixa      550 non-null    int64
 7   idep_2018  550 non-null    float64
 8   idep_2019  550 non-null    float64
 9   meta_2019  550 non-null    float64
 10  meta_2020  550 non-null    float64
 11  meta_2021  550 non-null    float64
 12  meta_2022  550 non-null    float64
 13  meta_2023  550 non-null    float64
dtypes: float64(7), int64(4), object(3)
memory usage: 60.3+ KB

#**Modelagem 2 -  anos finais**

*   Renomear Colunas
*   Substituir '*' por '0'
*   Converter colunas 'object' em 'float'

In [ ]:
idep_anos_finais = idep_anos_finais.rename(columns={'NSE' : 'nse', 'ICG':'icg','Faixa':'faixa', 2018: 'idep_2018', 2019: 'idep_2019', '2019.1':'meta_2019', 2020 : 'meta_2020', 2021:'meta_2021', 2022:'meta_2022', 2023:'meta_2023'})

In [ ]:
idep_anos_finais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cod_Esc    550 non-null    int64
 1   Escola     550 non-null    object
 2   Diretoria  550 non-null    object
 3   Distrito   550 non-null    object
 4   nse        550 non-null    int64
 5   icg        550 non-null    int64
 6   faixa      550 non-null    int64
 7   idep_2018  550 non-null    object
 8   idep_2019  550 non-null    object
 9   meta_2019  550 non-null    object
 10  meta_2020  550 non-null    object
 11  meta_2021  550 non-null    object
 12  meta_2022  550 non-null    object
 13  meta_2023  550 non-null    object
dtypes: int64(4), object(10)
memory usage: 60.3+ KB

In [ ]:
idep_anos_finais.iloc[529:533]

     Cod_Esc                           Escola  ... meta_2022 meta_2023
529    93963    EMEF JOAO PINHEIRO PRESIDENTE  ...   6.50948   6.70102
530    19500  EMEF HERBERT DE SOUZA - BETINHO  ...         *         *
531    99112            EMEF PRACINHAS DA FEB  ...         *         *
532    94021           EMEF VISCONDE DE CAIRU  ...   5.29191   5.43694

[4 rows x 14 columns]

In [ ]:
idep_anos_finais.loc[idep_anos_finais.idep_2018 == '*', 'idep_2018'] = '0'
idep_anos_finais.loc[idep_anos_finais.idep_2019 == '*', 'idep_2019'] = '0'
idep_anos_finais.loc[idep_anos_finais.meta_2019 == '*', 'meta_2019'] = '0'
idep_anos_finais.loc[idep_anos_finais.meta_2020 == '*', 'meta_2020'] = '0'
idep_anos_finais.loc[idep_anos_finais.meta_2021 == '*', 'meta_2021'] = '0'
idep_anos_finais.loc[idep_anos_finais.meta_2022 == '*', 'meta_2022'] = '0'
idep_anos_finais.loc[idep_anos_finais.meta_2023 == '*', 'meta_2023'] = '0'

In [ ]:
idep_anos_finais.iloc[529:533]

     Cod_Esc                           Escola  ... meta_2022 meta_2023
529    93963    EMEF JOAO PINHEIRO PRESIDENTE  ...   6.50948   6.70102
530    19500  EMEF HERBERT DE SOUZA - BETINHO  ...         0         0
531    99112            EMEF PRACINHAS DA FEB  ...         0         0
532    94021           EMEF VISCONDE DE CAIRU  ...   5.29191   5.43694

[4 rows x 14 columns]

In [ ]:
idep_anos_finais['idep_2018'] = idep_anos_finais['idep_2018'].astype('float')
idep_anos_finais['idep_2019'] = idep_anos_finais['idep_2019'].astype('float')
idep_anos_finais['meta_2019'] = idep_anos_finais['meta_2019'].astype('float')
idep_anos_finais['meta_2020'] = idep_anos_finais['meta_2020'].astype('float')
idep_anos_finais['meta_2021'] = idep_anos_finais['meta_2021'].astype('float')
idep_anos_finais['meta_2022'] = idep_anos_finais['meta_2022'].astype('float')
idep_anos_finais['meta_2023'] = idep_anos_finais['meta_2023'].astype('float')

In [ ]:
idep_anos_finais.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550 entries, 0 to 549
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cod_Esc    550 non-null    int64
 1   Escola     550 non-null    object
 2   Diretoria  550 non-null    object
 3   Distrito   550 non-null    object
 4   nse        550 non-null    int64
 5   icg        550 non-null    int64
 6   faixa      550 non-null    int64
 7   idep_2018  550 non-null    float64
 8   idep_2019  550 non-null    float64
 9   meta_2019  550 non-null    float64
 10  meta_2020  550 non-null    float64
 11  meta_2021  550 non-null    float64
 12  meta_2022  550 non-null    float64
 13  meta_2023  550 non-null    float64
dtypes: float64(7), int64(4), object(3)
memory usage: 60.3+ KB

#**Estatística Descritiva - anos iniciais e finais**

Anos iniciais:

In [ ]:
idep_anos_iniciais['idep_media'] = idep_anos_iniciais[['idep_2018','idep_2019']].mean(axis=1)

In [ ]:
idep_anos_iniciais.iloc[529:533]

     Cod_Esc                    Escola  ... meta_2023 idep_media
529    95036    EMEF LEAO MACHADO PROF  ...  6.754367   5.578441
530    19303      CEU EMEF CASA BLANCA  ...  6.964497   5.952361
531    19291        EMEF VARGEM GRANDE  ...  0.000000   0.000000
532    93319  EMEF ALMEIDA JUNIOR PROF  ...  6.310203   5.052885

[4 rows x 15 columns]

Anos finais:

In [ ]:
idep_anos_finais['idep_media'] = idep_anos_finais[['idep_2018','idep_2019']].mean(axis=1)

In [ ]:
idep_anos_finais.iloc[529:534]

     Cod_Esc                           Escola  ... meta_2023 idep_media
529    93963    EMEF JOAO PINHEIRO PRESIDENTE  ...  6.701021   5.569176
530    19500  EMEF HERBERT DE SOUZA - BETINHO  ...  0.000000   0.000000
531    99112            EMEF PRACINHAS DA FEB  ...  0.000000   0.000000
532    94021           EMEF VISCONDE DE CAIRU  ...  5.436942   4.773797
533    94129        EMEF GUILHERME DE ALMEIDA  ...  5.455909   4.936658

[5 rows x 15 columns]

#**Acrecentando coluna ''data_referencia':**

In [ ]:
data_ultima_atualizacao = '2019-10-23'

In [ ]:
idep_anos_iniciais['data_referencia'] = pd.to_datetime(data_ultima_atualizacao)
idep_anos_finais['data_referencia'] = pd.to_datetime(data_ultima_atualizacao)

In [ ]:
idep_anos_iniciais.iloc[530:533]

     Cod_Esc                    Escola  ... idep_media data_referencia
530    19303      CEU EMEF CASA BLANCA  ...   5.952361      2019-10-23
531    19291        EMEF VARGEM GRANDE  ...   0.000000      2019-10-23
532    93319  EMEF ALMEIDA JUNIOR PROF  ...   5.052885      2019-10-23

[3 rows x 16 columns]

In [ ]:
idep_anos_finais.iloc[529:532]

     Cod_Esc                           Escola  ... idep_media data_referencia
529    93963    EMEF JOAO PINHEIRO PRESIDENTE  ...   5.569176      2019-10-23
530    19500  EMEF HERBERT DE SOUZA - BETINHO  ...   0.000000      2019-10-23
531    99112            EMEF PRACINHAS DA FEB  ...   0.000000      2019-10-23

[3 rows x 16 columns]

#**Dicionários**<br>
**Transformar a coluna de distritos e diretoria em uma referência a tabela de distritos e diretoria respectivamente**<br><br>
id_diretoria e id_distrito<br>

In [ ]:
def ConverteSubPrefeituraNumID(id_nome):
    dicionario_sub_prefeitura = {
          'PIRITUBA' : 'PIR',
          'JARAGUA' : 'JAR',
          'SAO DOMINGOS' : 'SDO',
          'FREGUESIA' : 'FRE',
          'FREGUESIA DO O' : 'FRE',
          'BRASILANDIA' : 'BRL',
          'CASA VERDE' : 'CVE',
          'CACHOEIRINHA' : 'CAC',
          'LIMAO' : 'LIM',
          'MANDAQUI' : 'MAN',
          'SANTANA' : 'STN',
          'TUCURUVI' : 'TUC',
          'JACANA' : 'JAC',
          'TREMEMBE' : 'TRE',
          'VILA MARIA' : 'VMR',
          'VILA GUILHERME' : 'VGL',
          'VILA MEDEIROS' : 'VMD',
          'ARTUR ALVIM' : 'AAL',
          'CANGAIBA' : 'CNG',
          'VILA MATILDE' : 'VMT',
          'PENHA' : 'PEN',
          'ERMELINO MATARAZZO' : 'ERM',
          'PONTE RASA' : 'PRA',
          'SAO MIGUEL' : 'SMI',
          'JARDIM HELENA' : 'JDH',
          'VILA JACUI' : 'VJA',
          'ITAIM PAULISTA' : 'IPA',
          'VILA CURUCA' : 'VCR',
          'CIDADE LIDER' : 'CLD',
          'ITAQUERA' : 'ITQ',
          'JOSE BONIFACIO'  : 'JBO',
          'PARQUE DO CARMO' : 'PQC',
          'GUAIANASES' : 'GUA',
          'LAJEADO' : 'LAJ',
          'BARRA FUNDA' : 'BFU',
          'JAGUARA' : 'JAG',
          'JAGUARE' : 'JRE',
          'LAPA' : 'LAP',
          'PERDIZES' : 'PRD',
          'VILA LEOPOLDINA' : 'VLE',
          'BOM RETIRO' : 'BRE',
          'BELA VISTA' : 'BVI',
          'CAMBUCI' : 'CMB',
          'CONSOLACAO' : 'CON',
          'LIBERDADE' : 'LIB',
          'REPUBLICA' : 'REP',
          'SANTA CECILIA' : 'SCE',
          'SE' : 'SE',
          'AGUA RASA' : 'ARA',
          'BELEM' : 'BEL',
          'BRAS' : 'BRS',
          'MOOCA' : 'MOO',
          'PARI' : 'PRI',
          'TATUAPE' : 'TAT',
          'ARICANDUVA' : 'ARI',
          'FORMOSA' : 'CAR',
          'VILA FORMOSA' : 'VFO',
          'CARRAO' : 'CAR',
          'IGUATEMI' : 'IGU',
          'SAO MATEUS' : 'SMT',
          'SAO RAFAEL' : 'SRA',
          'SAO LUCAS' : 'SLU',
          'VILA PRUDENTE' : 'VPR',
          'CURSINO' : 'CUR',
          'IPIRANGA' : 'IPI',
          'SACOMA' : 'SAC',
          'MOEMA' : 'MOE',
          'SAUDE' : 'SAU',
          'VILA MARIANA' : 'VMN',
          'BUTANTA' : 'BUT',
          'MORUMBI' : 'MOR',
          'RIO PEQUENO' : 'RPE',
          'RAPOSO TAVARES' : 'RTA',
          'VILA SONIA' : 'VSO',
          'PINHEIROS' : 'PIN',
          'ALTO DE PINHEIROS' : 'API',
          'ITAIM BIBI' : 'IBI',
          'JARDIM PAULISTA' : 'JDP',
          'CAMPO LIMPO' : 'CLM',
          'CAPAO REDONDO' : 'CRE',
          'VILA ANDRADE' : 'VAN',
          'JARDIM ANGELA' : 'JDA',
          'JARDIM SAO LUIS' : 'JDS',
          'CIDADE DUTRA' : 'CDU',
          'GRAJAU' : 'GRA',
          'SOCORRO' : 'SOC',
          'CAPELA DO SOCORRO' : 'SOC',
          'CIDADE ADEMAR' : 'CAD',
          'PEDREIRA'  : 'PDR',
          'MARSILAC' : 'MAR',
          'PARELHEIROS' : 'PLH',
          'JABAQUARA' : 'JAB',
          'SANTO AMARO' : 'SAM',
          'CAMPO BELO' : 'CBE',
          'CAMPO GRANDE' : 'CGR',
          'CIDADE TIRADENTES' : 'CTI',
          'ANHANGUERA' : 'ANH',
          'PERUS' : 'PRS',
          'SAPOPEMBA' : 'SAP'
    }
    return dicionario_sub_prefeitura[id_nome]

In [ ]:
def ConverteDiretoriaNumID(id_diret):
    dicionario_diretoria = {
            'BUTANTA' : 1,
            'CAMPO LIMPO' : 2,
            'CAPELA DO SOCORRO' : 3,
            'FREGUESIA/BRASILANDIA' : 4,
            'FREGUESIA' : 4,
            'BRASILANDIA' : 4,
            'GUAIANASES' : 5,
            'IPIRANGA' : 6,
            'ITAQUERA' : 7,
            'JACANA/TREMEMBE' : 8,
            'JACANA' : 8,
            'TREMEMBE' : 8,
            'PENHA' : 9,
            'PIRITUBA/JARAGUA' : 10,
            'PIRITUBA' : 10,
            'JARAGUA' : 10,
            'SANTO AMARO' : 11,
            'SAO MATEUS' : 12,
            'SAO MIGUEL' : 13
                }
    return dicionario_diretoria[id_diret]

#**Aplicando os dicionários para os Anos Finais**

In [ ]:
 nome = idep_anos_finais['Distrito'][0]
 nome

'VILA MEDEIROS'

In [ ]:
n = 0
lista = []
while n<550: 
  id_nome = idep_anos_finais['Distrito'][n]
  distrito = ConverteSubPrefeituraNumID(id_nome)
  lista.insert(n,distrito)
  n = n + 1
print(lista)

['VMD', 'VSO', 'SLU', 'RPE', 'CGR', 'PEN', 'CTI', 'JAC', 'SAP', 'VMR', 'JAB', 'CTI', 'PRS', 'SAP', 'CTI', 'CRE', 'VMR', 'RTA', 'VCR', 'CTI', 'JAR', 'CTI', 'CTI', 'GRA', 'RTA', 'CLD', 'VLE', 'RTA', 'CTI', 'VAN', 'BRL', 'SAP', 'PRS', 'JDH', 'SAP', 'SLU', 'VAN', 'VPR', 'BRL', 'SAP', 'LIM', 'RPE', 'PRI', 'SAC', 'VPR', 'IPA', 'SAP', 'IPA', 'JRE', 'PRS', 'BRL', 'IGU', 'TRE', 'RTA', 'SRA', 'BRL', 'GRA', 'TRE', 'JDH', 'CTI', 'JDA', 'BRL', 'SMT', 'CAD', 'VJA', 'JAR', 'JDS', 'JDA', 'JBO', 'CRE', 'JBO', 'JDS', 'PDR', 'CTI', 'SAC', 'JAR', 'CLM', 'VAN', 'ANH', 'SAP', 'FRE', 'PRS', 'RPE', 'SDO', 'PQC', 'PDR', 'BRL', 'PLH', 'VSO', 'RTA', 'SAP', 'CTI', 'PIR', 'JAR', 'CTI', 'SAC', 'JAR', 'BRL', 'ARI', 'RPE', 'SRA', 'BRL', 'JAR', 'CAD', 'VAN', 'JAR', 'RPE', 'VMR', 'MOR', 'CTI', 'VAN', 'JDS', 'CRE', 'JDS', 'JDA', 'JDH', 'SRA', 'SE', 'PRS', 'SAC', 'CTI', 'SAP', 'CRE', 'BRL', 'CLM', 'VMR', 'JDS', 'SDO', 'JDS', 'SRA', 'CRE', 'VMD', 'PDR', 'BRL', 'SAC', 'JDS', 'CTI', 'SAP', 'GRA', 'SAP', 'RTA', 'VCR', 'SAP', 'IPI', 'CUR', 'LIM', 'CAC', 'TRE', 'CRE', 'CRE', 'ANH', 'JDH', 'CAC', 'CRE', 'IPI', 'GRA', 'CAD', 'CAD', 'SAC', 'PRS', 'SRA', 'ANH', 'BVI', 'VAN', 'CNG', 'RPE', 'CRE', 'IGU', 'SRA', 'PDR', 'VJA', 'VCR', 'JAR', 'SMI', 'CRE', 'VSO', 'CTI', 'CLD', 'CRE', 'JAR', 'JAB', 'CLM', 'CDU', 'ITQ', 'SOC', 'JBO', 'PIR', 'SMT', 'CDU', 'GUA', 'CAR', 'CLM', 'CLM', 'GRA', 'CRE', 'JBO', 'JAR', 'CBE', 'JAR', 'VFO', 'JDA', 'JDH', 'VSO', 'JDS', 'CTI', 'CAD', 'FRE', 'CLD', 'SAC', 'JAR', 'IGU', 'VJA', 'GUA', 'CGR', 'CTI', 'SDO', 'CLM', 'CTI', 'CTI', 'JAR', 'ANH', 'RTA', 'SAP', 'SAC', 'SDO', 'VCR', 'JDH', 'CAC', 'JDA', 'TRE', 'PRA', 'CTI', 'SAP', 'VMD', 'ITQ', 'PRA', 'VJA', 'JAR', 'VJA', 'SMT', 'IPA', 'VJA', 'JAG', 'IPA', 'PRS', 'CBE', 'GRA', 'RTA', 'JAB', 'CAC', 'PDR', 'AAL', 'RTA', 'MAN', 'CVE', 'CDU', 'PIR', 'ERM', 'SRA', 'FRE', 'CAD', 'SMI', 'IPA', 'SAC', 'SRA', 'PRS', 'MAN', 'VMR', 'BRL', 'GUA', 'BRL', 'CRE', 'IPA', 'LIB', 'TRE', 'JAR', 'LAJ', 'JAB', 'PIN', 'VCR', 'JAR', 'IGU', 'VGL', 'JAR', 'AAL', 'CRE', 'IPA', 'VCR', 'VMD', 'VJA', 'LAJ', 'TUC', 'RPE', 'PIR', 'ARA', 'ITQ', 'CDU', 'CTI', 'MAN', 'CRE', 'JDH', 'JDA', 'VCR', 'JBO', 'ARA', 'RTA', 'VMT', 'RPE', 'BEL', 'CDU', 'JAC', 'SAC', 'JAB', 'PRA', 'JAC', 'IBI', 'CLD', 'IGU', 'CRE', 'ITQ', 'VLE', 'AAL', 'BRL', 'FRE', 'SMT', 'TUC', 'SAP', 'RTA', 'SLU', 'CUR', 'VJA', 'ARI', 'SMT', 'VGL', 'SAC', 'SLU', 'STN', 'PDR', 'SAC', 'CAD', 'SMI', 'CGR', 'ANH', 'JDA', 'SAP', 'MOE', 'TRE', 'CTI', 'AAL', 'SAP', 'SLU', 'FRE', 'VCR', 'VCR', 'CDU', 'SAP', 'SAP', 'JDH', 'PRD', 'CVE', 'JDS', 'VMT', 'VMT', 'SAP', 'SAM', 'JAR', 'JAR', 'VCR', 'ERM', 'MAN', 'VMR', 'CNG', 'SAP', 'CLD', 'GRA', 'IGU', 'CRE', 'PRS', 'VMN', 'SDO', 'CDU', 'IGU', 'VMR', 'CGR', 'AAL', 'IGU', 'IGU', 'VPR', 'CLM', 'ERM', 'VMT', 'CRE', 'GUA', 'IGU', 'SLU', 'CDU', 'CDU', 'PQC', 'SAC', 'SMT', 'VJA', 'CAC', 'VMT', 'RTA', 'CAR', 'IBI', 'ARA', 'CAC', 'ANH', 'PLH', 'GRA', 'PLH', 'IGU', 'SAP', 'JRE', 'JDA', 'PRA', 'BRL', 'JDH', 'PIR', 'JDS', 'JDA', 'CLM', 'VCR', 'JDA', 'IPA', 'FRE', 'GRA', 'CTI', 'CLM', 'CLD', 'CRE', 'SRA', 'JAR', 'BRL', 'CBE', 'IGU', 'PLH', 'FRE', 'CTI', 'TRE', 'PDR', 'PLH', 'SLU', 'ITQ', 'STN', 'JAR', 'JDS', 'LAJ', 'IGU', 'VMD', 'LAJ', 'CLM', 'PRA', 'JAC', 'LAJ', 'JAR', 'TAT', 'SMI', 'CNG', 'GRA', 'JAG', 'SDO', 'JDA', 'SLU', 'ARI', 'BRL', 'PIR', 'CAD', 'CTI', 'CLM', 'CLM', 'VFO', 'CLM', 'VSO', 'IPA', 'JAB', 'CLM', 'GRA', 'CDU', 'LAJ', 'ITQ', 'JDH', 'STN', 'JDA', 'SAM', 'JBO', 'CLM', 'SMI', 'CLM', 'PDR', 'CDU', 'CVE', 'AAL', 'CLD', 'JAB', 'PIR', 'CLM', 'CAC', 'IGU', 'RTA', 'CDU', 'LAJ', 'CNG', 'JDS', 'FRE', 'BRL', 'IPA', 'CDU', 'IPA', 'TRE', 'SMT', 'GRA', 'STN', 'TAT', 'GRA', 'JDA', 'VPR', 'IPA', 'VJA', 'VCR', 'PIR', 'MOO', 'ANH', 'ARA', 'SAU', 'PRA', 'SAC', 'SMI', 'VMT', 'CRE', 'JDS', 'VMT', 'CNG', 'BUT', 'SDO', 'CDU', 'CGR', 'SAM', 'SOC', 'CAR', 'ARI', 'BUT', 'CGR', 'SOC', 'TUC', 'VGL', 'BUT', 'SMI', 'TAT']

In [ ]:
idep_anos_finais['id_distrito'] = lista

In [ ]:
m = 0
lista2 = []
while m<550: 
  id_diret = idep_anos_finais['Diretoria'][m]
  diretoria = ConverteDiretoriaNumID(id_diret)
  lista2.insert(m,diretoria)
  m = m + 1

In [ ]:
idep_anos_finais['id_diretoria'] = lista2
print(lista2)

[8, 1, 6, 1, 11, 9, 5, 8, 12, 8, 11, 5, 10, 12, 5, 2, 8, 1, 13, 5, 10, 5, 5, 3, 1, 7, 10, 1, 5, 2, 4, 12, 10, 13, 12, 6, 2, 6, 4, 12, 4, 1, 9, 6, 6, 13, 12, 13, 10, 10, 4, 12, 8, 1, 12, 4, 3, 8, 13, 5, 2, 4, 12, 11, 13, 10, 2, 2, 7, 2, 7, 2, 11, 5, 6, 10, 2, 2, 10, 12, 4, 10, 1, 10, 7, 11, 4, 3, 1, 1, 12, 5, 10, 10, 5, 6, 10, 4, 7, 1, 12, 4, 10, 11, 2, 10, 1, 8, 1, 5, 2, 2, 2, 2, 2, 13, 12, 6, 10, 6, 5, 12, 2, 4, 2, 8, 2, 10, 2, 12, 2, 8, 11, 4, 6, 2, 5, 12, 3, 12, 1, 13, 12, 6, 6, 4, 4, 8, 2, 2, 10, 13, 4, 2, 6, 3, 11, 11, 6, 10, 12, 10, 6, 2, 9, 1, 2, 12, 12, 11, 13, 13, 10, 13, 2, 1, 5, 7, 2, 10, 11, 2, 3, 7, 3, 7, 10, 12, 3, 5, 7, 2, 2, 3, 2, 7, 10, 11, 10, 7, 2, 13, 1, 2, 5, 11, 4, 7, 6, 10, 12, 13, 5, 11, 5, 10, 2, 5, 5, 10, 10, 1, 12, 6, 10, 13, 13, 4, 2, 8, 9, 5, 12, 8, 7, 9, 13, 10, 13, 12, 13, 13, 10, 13, 10, 11, 3, 1, 11, 4, 11, 9, 1, 8, 4, 3, 10, 9, 12, 4, 11, 13, 13, 6, 12, 10, 8, 8, 4, 5, 4, 2, 13, 6, 8, 10, 5, 11, 1, 13, 10, 12, 8, 10, 9, 2, 13, 13, 8, 13, 5, 8, 1, 10, 9, 7, 3, 5, 8, 2, 13, 2, 13, 7, 9, 1, 9, 1, 9, 3, 8, 6, 11, 9, 8, 1, 7, 12, 2, 7, 10, 9, 4, 4, 12, 8, 12, 1, 6, 6, 13, 7, 12, 8, 6, 6, 8, 11, 6, 11, 13, 11, 10, 2, 12, 6, 8, 5, 9, 12, 6, 4, 13, 13, 3, 12, 12, 13, 10, 4, 2, 9, 9, 12, 11, 10, 10, 13, 9, 8, 8, 9, 12, 7, 3, 12, 2, 10, 6, 10, 3, 12, 8, 11, 9, 12, 12, 6, 2, 9, 9, 2, 5, 12, 6, 3, 3, 7, 6, 12, 13, 4, 9, 1, 7, 1, 9, 4, 10, 3, 3, 3, 12, 12, 10, 2, 9, 4, 13, 10, 2, 2, 2, 13, 2, 13, 4, 3, 5, 2, 7, 2, 12, 10, 4, 11, 12, 3, 4, 5, 8, 11, 3, 6, 7, 8, 10, 2, 5, 12, 8, 5, 2, 9, 8, 5, 10, 9, 13, 9, 3, 10, 10, 2, 6, 7, 4, 10, 11, 5, 2, 2, 7, 2, 1, 13, 11, 2, 3, 3, 5, 7, 13, 8, 2, 11, 7, 2, 13, 2, 11, 3, 4, 9, 7, 11, 10, 2, 4, 12, 1, 3, 5, 9, 2, 4, 4, 13, 3, 13, 8, 12, 3, 8, 9, 3, 2, 6, 13, 13, 13, 10, 9, 10, 9, 6, 9, 6, 13, 9, 2, 2, 9, 9, 1, 10, 3, 11, 11, 3, 7, 7, 1, 11, 3, 8, 8, 1, 13, 9]

In [ ]:
idep_anos_finais.head(3)

   Cod_Esc                      Escola  ... id_distrito id_diretoria
0    94862  EMEF ALBERTO SANTOS DUMONT  ...         VMD            8
1      191     EMEF ALIPIO CORREA NETO  ...         VSO            1
2    95427     EMEF ALVARES DE AZEVEDO  ...         SLU            6

[3 rows x 18 columns]

#**Aplicando os dicionários para os Anos iniciais**

In [ ]:
n2 = 0
lista3 = []
while n2<550: 
  id_nome = idep_anos_iniciais['Distrito'][n2]
  distrito = ConverteSubPrefeituraNumID(id_nome)
  lista3.insert(n2,distrito)
  n2 = n2 + 1
print(lista3)

['VSO', 'PDR', 'RTA', 'PQC', 'VCR', 'PDR', 'SLU', 'PLH', 'JDH', 'CTI', 'PRS', 'CTI', 'VJA', 'VMR', 'CAD', 'PRS', 'IGU', 'SAP', 'RTA', 'SAC', 'CRE', 'VAN', 'JDA', 'GRA', 'JAR', 'PRS', 'BRL', 'BRL', 'VAN', 'PEN', 'ANH', 'JRE', 'TRE', 'GRA', 'IPA', 'PRS', 'JAR', 'RTA', 'RTA', 'JDS', 'JDA', 'SAC', 'IPA', 'CRE', 'CTI', 'CTI', 'SRA', 'BRL', 'VAN', 'CTI', 'RTA', 'JBO', 'SAP', 'RPE', 'RPE', 'RPE', 'JDS', 'CLM', 'VLE', 'CGR', 'CLD', 'CTI', 'CTI', 'JDH', 'BRL', 'FRE', 'LIM', 'BRL', 'JAR', 'SDO', 'PRI', 'TRE', 'VMR', 'VMD', 'JAC', 'SMT', 'JAB', 'VPR', 'VPR', 'SLU', 'SAP', 'SAP', 'SAP', 'SAP', 'SAP', 'SAP', 'CTI', 'CTI', 'CTI', 'VSO', 'JBO', 'BRL', 'CRE', 'JAR', 'SAC', 'CAD', 'CRE', 'RTA', 'SAP', 'CTI', 'SRA', 'VCR', 'SAP', 'JDS', 'CTI', 'IPI', 'VAN', 'PRS', 'JAR', 'SRA', 'ANH', 'JAR', 'VAN', 'SRA', 'ANH', 'VAN', 'CTI', 'SDO', 'CRE', 'CAC', 'SAC', 'VMR', 'GRA', 'CRE', 'MOR', 'RPE', 'RPE', 'JDA', 'CRE', 'CRE', 'JDS', 'JDS', 'JDS', 'CLM', 'JDS', 'PDR', 'GRA', 'CTI', 'JDH', 'JDH', 'CNG', 'BRL', 'BRL', 'BRL', 'CAC', 'LIM', 'BRL', 'PIR', 'JAR', 'PRS', 'SE', 'BVI', 'TRE', 'VMR', 'VMD', 'CUR', 'SAC', 'SAC', 'IPI', 'ARI', 'CAD', 'CAD', 'SAP', 'SRA', 'SAP', 'CTI', 'VJA', 'CTI', 'JAR', 'RPE', 'PLH', 'CTI', 'GUA', 'IPA', 'VCR', 'BRL', 'CAD', 'CAC', 'IGU', 'JAR', 'ITQ', 'JDA', 'JDA', 'JAR', 'SMT', 'VJA', 'JAR', 'SAP', 'JAR', 'SAP', 'CTI', 'FRE', 'JBO', 'BRL', 'IGU', 'CTI', 'CVE', 'RTA', 'LAJ', 'FRE', 'GRA', 'JAR', 'LAJ', 'SAC', 'GUA', 'CDU', 'CRE', 'JDH', 'IGU', 'TRE', 'ERM', 'JAB', 'PDR', 'SMI', 'SRA', 'IPA', 'CLD', 'VJA', 'VCR', 'VSO', 'STN', 'CAC', 'TRE', 'MAN', 'BRL', 'IPA', 'JAR', 'JDS', 'RPE', 'JAC', 'JDH', 'CLM', 'VSO', 'CLD', 'JBO', 'AAL', 'CTI', 'IGU', 'PRS', 'JAR', 'JAC', 'ITQ', 'VCR', 'SMI', 'CAC', 'FRE', 'CAR', 'CLD', 'CTI', 'CLM', 'JDH', 'ITQ', 'CTI', 'SMI', 'VMD', 'CRE', 'VCR', 'VMR', 'SMT', 'PIR', 'PDR', 'VJA', 'VMT', 'SAP', 'SAC', 'VLE', 'TRE', 'GRA', 'IGU', 'SOC', 'CRE', 'VFO', 'VGL', 'CBE', 'PLH', 'IGU', 'RTA', 'SAC', 'SAC', 'CGR', 'ANH', 'AAL', 'CBE', 'CLM', 'JAR', 'SAP', 'GUA', 'SDO', 'IGU', 'AAL', 'IBI', 'VMT', 'SRA', 'BEL', 'VMT', 'IGU', 'PDR', 'JAG', 'VJA', 'JAB', 'CDU', 'GRA', 'SAP', 'IGU', 'CDU', 'CDU', 'CNG', 'VCR', 'ERM', 'CLM', 'FRE', 'MAN', 'VCR', 'CAD', 'SLU', 'SRA', 'ARI', 'RPE', 'VJA', 'CRE', 'PRA', 'CVE', 'CRE', 'VMD', 'SAC', 'CDU', 'CAD', 'CDU', 'VMT', 'MAN', 'ANH', 'VMR', 'MAN', 'JAR', 'JAR', 'VCR', 'SAC', 'VMR', 'CRE', 'JDH', 'PRA', 'CAR', 'RTA', 'CRE', 'CRE', 'JDA', 'ITQ', 'IPA', 'ARA', 'JAB', 'VCR', 'VMT', 'VPR', 'JAR', 'TUC', 'RTA', 'SMT', 'JAB', 'SAP', 'SAM', 'JDA', 'GUA', 'PRA', 'SMT', 'JDS', 'AAL', 'CRE', 'JBO', 'CUR', 'PRS', 'ERM', 'SAP', 'IPA', 'VGL', 'CDU', 'LIB', 'RTA', 'CRE', 'SAP', 'CLM', 'PQC', 'CDU', 'VJA', 'TUC', 'VJA', 'SLU', 'PIR', 'PIR', 'IGU', 'SDO', 'ANH', 'CLD', 'IBI', 'CGR', 'PRS', 'RTA', 'PIN', 'CGR', 'CAC', 'SLU', 'SMT', 'SAP', 'CDU', 'SLU', 'ARA', 'SAC', 'SDO', 'SAP', 'PRD', 'ARA', 'VMN', 'MOE', 'AAL', 'GRA', 'STN', 'BRL', 'STN', 'JDA', 'VCR', 'IPA', 'LAJ', 'JDA', 'GRA', 'JDH', 'IGU', 'PDR', 'LAJ', 'LAJ', 'PDR', 'FRE', 'SRA', 'CLM', 'PRA', 'CLM', 'JDA', 'CRE', 'IPA', 'ITQ', 'JDA', 'PIR', 'FRE', 'CTI', 'IGU', 'PIR', 'SLU', 'CTI', 'JDA', 'BRL', 'CLM', 'JDS', 'SMI', 'LAJ', 'CLM', 'FRE', 'JDS', 'BRL', 'ITQ', 'CLM', 'JRE', 'JBO', 'JDH', 'JAR', 'ARI', 'CLD', 'AAL', 'CAD', 'SMI', 'SDO', 'BRL', 'CLM', 'VFO', 'PLH', 'RTA', 'CDU', 'CTI', 'JDS', 'JAC', 'IGU', 'GRA', 'SMT', 'CAC', 'VMD', 'VPR', 'JAR', 'PRA', 'CLM', 'CLM', 'GRA', 'SLU', 'PIR', 'IPA', 'CVE', 'TRE', 'SAM', 'CNG', 'IPA', 'CDU', 'VSO', 'GRA', 'CBE', 'LAJ', 'JAB', 'VMT', 'TAT', 'JAR', 'JAB', 'GRA', 'CLD', 'VJA', 'ARA', 'TAT', 'CRE', 'SMI', 'CDU', 'CLM', 'JAG', 'CDU', 'JDA', 'CLM', 'ANH', 'VCR', 'PIR', 'MOO', 'STN', 'TRE', 'IPA', 'SAU', 'CNG', 'PRA', 'SAC', 'JDS', 'PLH', 'SOC', 'CNG', 'VGL', 'SOC', 'TUC', 'VMT', 'BUT', 'BUT', 'CGR', 'CDU', 'CAR', 'SDO', 'ARI', 'CGR', 'SAM', 'BUT', 'SMI', 'TAT']

In [ ]:
idep_anos_iniciais['id_distrito'] = lista3

In [ ]:
m2 = 0
lista4 = []
while m2<550: 
  id_diret = idep_anos_iniciais['Diretoria'][m2]
  diretoria = ConverteDiretoriaNumID(id_diret)
  lista4.insert(m2,diretoria)
  m2 = m2 + 1

In [ ]:
idep_anos_iniciais['id_diretoria'] = lista4
print(lista4)

[1, 11, 1, 7, 13, 11, 6, 3, 13, 5, 10, 5, 13, 8, 11, 10, 12, 12, 1, 6, 2, 2, 2, 3, 10, 10, 4, 4, 2, 9, 10, 10, 8, 3, 13, 10, 10, 1, 1, 2, 2, 6, 13, 2, 5, 5, 12, 4, 2, 5, 1, 7, 12, 1, 1, 1, 2, 2, 10, 11, 7, 5, 5, 13, 4, 4, 4, 4, 10, 10, 9, 8, 8, 8, 8, 12, 11, 6, 6, 6, 12, 12, 12, 12, 12, 12, 5, 5, 5, 1, 7, 4, 2, 10, 6, 11, 2, 1, 12, 5, 12, 13, 12, 2, 5, 6, 2, 10, 10, 12, 10, 10, 2, 12, 10, 2, 5, 10, 2, 4, 6, 8, 3, 2, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 11, 3, 5, 13, 13, 9, 4, 4, 4, 4, 4, 4, 10, 10, 10, 6, 6, 8, 8, 8, 6, 6, 6, 6, 7, 11, 11, 12, 12, 12, 5, 13, 5, 10, 1, 3, 5, 5, 13, 13, 4, 11, 4, 12, 10, 7, 2, 2, 10, 12, 13, 10, 12, 10, 12, 5, 4, 7, 4, 12, 5, 4, 1, 5, 4, 3, 10, 5, 6, 5, 3, 2, 13, 12, 8, 9, 11, 11, 13, 12, 13, 7, 13, 13, 1, 8, 4, 8, 8, 4, 13, 10, 2, 1, 8, 13, 2, 1, 7, 7, 9, 5, 12, 10, 10, 8, 7, 13, 13, 4, 4, 7, 7, 5, 2, 13, 7, 5, 13, 8, 2, 13, 8, 12, 10, 11, 13, 9, 12, 6, 10, 8, 3, 12, 3, 2, 7, 8, 11, 3, 12, 1, 6, 6, 11, 10, 9, 11, 2, 10, 12, 5, 10, 12, 9, 1, 9, 12, 9, 9, 12, 11, 10, 13, 11, 3, 3, 12, 12, 3, 3, 9, 13, 9, 2, 4, 8, 13, 11, 6, 12, 7, 1, 13, 2, 9, 4, 2, 8, 6, 3, 11, 3, 9, 8, 10, 8, 8, 10, 10, 13, 6, 8, 2, 13, 9, 7, 1, 2, 2, 2, 7, 13, 9, 11, 13, 9, 6, 10, 8, 1, 12, 11, 12, 11, 2, 5, 9, 12, 2, 9, 2, 7, 6, 10, 9, 12, 13, 8, 3, 6, 1, 2, 12, 2, 7, 3, 13, 8, 13, 6, 10, 10, 12, 10, 10, 7, 1, 11, 10, 1, 1, 11, 4, 6, 12, 12, 3, 6, 9, 6, 10, 12, 10, 9, 6, 6, 9, 3, 8, 4, 8, 2, 13, 13, 5, 2, 3, 13, 12, 11, 5, 5, 11, 4, 12, 2, 9, 2, 2, 2, 13, 7, 2, 10, 4, 5, 12, 10, 6, 5, 2, 4, 2, 2, 13, 5, 2, 4, 2, 4, 7, 2, 10, 7, 13, 10, 7, 7, 9, 11, 13, 10, 4, 2, 7, 3, 1, 3, 5, 2, 8, 12, 3, 12, 4, 8, 6, 10, 9, 2, 2, 3, 6, 10, 13, 4, 8, 11, 9, 13, 3, 1, 3, 11, 5, 11, 9, 9, 10, 11, 3, 7, 13, 9, 9, 2, 13, 3, 2, 10, 3, 2, 2, 10, 13, 10, 9, 8, 8, 13, 6, 9, 9, 6, 2, 3, 3, 9, 8, 3, 8, 9, 1, 1, 11, 3, 7, 10, 7, 11, 11, 1, 13, 9]

In [ ]:
idep_anos_finais.head(3)

   Cod_Esc                      Escola  ... id_distrito id_diretoria
0    94862  EMEF ALBERTO SANTOS DUMONT  ...         VMD            8
1      191     EMEF ALIPIO CORREA NETO  ...         VSO            1
2    95427     EMEF ALVARES DE AZEVEDO  ...         SLU            6

[3 rows x 18 columns]

#**Criando nova tabela com nomes das escolas: 'idep_dim_escolas' para novo dicionário**

In [ ]:
idep_dim_escolas = pd.DataFrame()
idep_dim_escolas['escola'] = idep_anos_finais['Escola']
idep_dim_escolas.index = np.arange(1, len(idep_dim_escolas) + 1)
idep_dim_escolas['id_escola'] = idep_dim_escolas.index
print(idep_dim_escolas)

                                       escola  id_escola
1                  EMEF ALBERTO SANTOS DUMONT          1
2                     EMEF ALIPIO CORREA NETO          2
3                     EMEF ALVARES DE AZEVEDO          3
4                 EMEF ALVARO SILVA BRAGA GAL          4
5                      EMEF ANTENOR NASCENTES          5
..                                        ...        ...
546  EMEF MARTIN FRANCISCO RIBEIRO DE ANDRADA        546
547          EMEF HELENA LOMBARDI BRAGA PROFA        547
548               EMEF DEODORO DA FONSECA MAL        548
549                  EMEF LUIS SAIA ARQUITETO        549
550                EMEF JACKSON DE FIGUEIREDO        550

[550 rows x 2 columns]

In [ ]:
idep_dim_escolas.reset_index(inplace=True, drop=False)

In [ ]:
idep_dim_escolas = idep_dim_escolas.drop('index', 1)

In [ ]:
idep_dim_escolas

                                       escola  id_escola
0                  EMEF ALBERTO SANTOS DUMONT          1
1                     EMEF ALIPIO CORREA NETO          2
2                     EMEF ALVARES DE AZEVEDO          3
3                 EMEF ALVARO SILVA BRAGA GAL          4
4                      EMEF ANTENOR NASCENTES          5
..                                        ...        ...
545  EMEF MARTIN FRANCISCO RIBEIRO DE ANDRADA        546
546          EMEF HELENA LOMBARDI BRAGA PROFA        547
547               EMEF DEODORO DA FONSECA MAL        548
548                  EMEF LUIS SAIA ARQUITETO        549
549                EMEF JACKSON DE FIGUEIREDO        550

[550 rows x 2 columns]

In [ ]:
idep_dim_escolas.to_csv(r'idep_dim_escolas.csv', index = False)

#**Substituindo a coluna "Escola" pela "id_escola"**

Anos Finais

In [ ]:
idep_anos_finais['Escola'] = idep_dim_escolas['id_escola']

Anos Iniciais

In [ ]:
idep_anos_iniciais['Escola'] = idep_dim_escolas['id_escola']

Verif.

In [ ]:
idep_anos_finais.head(3)

   Cod_Esc  Escola        Diretoria  ... data_referencia  id_distrito  id_diretoria
0    94862       1  JACANA/TREMEMBE  ...      2019-10-23          VMD             8
1      191       2          BUTANTA  ...      2019-10-23          VSO             1
2    95427       3         IPIRANGA  ...      2019-10-23          SLU             6

[3 rows x 18 columns]

In [ ]:
idep_anos_iniciais.head(3)

   Cod_Esc  Escola    Diretoria  ... data_referencia  id_distrito  id_diretoria
0      191       1      BUTANTA  ...      2019-10-23          VSO             1
1      264       2  SANTO AMARO  ...      2019-10-23          PDR            11
2      477       3      BUTANTA  ...      2019-10-23          RTA             1

[3 rows x 18 columns]

#**Drop de colunas desnecessárias e última renomeação**

In [ ]:
idep_anos_iniciais = idep_anos_iniciais.drop(['Diretoria', 'Distrito'], 1)
idep_anos_finais = idep_anos_finais.drop(['Diretoria', 'Distrito'], 1)

In [ ]:
idep_anos_iniciais = idep_anos_iniciais.rename(columns={'Escola' : 'id_escola', 'Cod_Esc':'cod_esc'})
idep_anos_finais = idep_anos_finais.rename(columns={'Escola' : 'id_escola', 'Cod_Esc':'cod_esc'})

In [ ]:
idep_anos_finais.head(3)

   cod_esc  id_escola  nse  ...  data_referencia  id_distrito  id_diretoria
0    94862          1    3  ...       2019-10-23          VMD             8
1      191          2    3  ...       2019-10-23          VSO             1
2    95427          3    3  ...       2019-10-23          SLU             6

[3 rows x 16 columns]

In [ ]:
idep_anos_iniciais.head(3)

   cod_esc  id_escola  nse  ...  data_referencia  id_distrito  id_diretoria
0      191          1    3  ...       2019-10-23          VSO             1
1      264          2    3  ...       2019-10-23          PDR            11
2      477          3    3  ...       2019-10-23          RTA             1

[3 rows x 16 columns]

#**Salvando as tabelas**

In [ ]:
idep_anos_iniciais.to_csv(r'idep_fato_anos_iniciais', index = False)

In [ ]:
idep_anos_iniciais.to_csv(r'idep_fato_anos_finais', index = False)

#Extra: Estudando Re

In [ ]:
string = 'abc 126 de 236  f45 6'

In [ ]:
print(string)

abc 126 de 236  f45 6

In [ ]:
pattern = '6'

In [ ]:
print(pattern)

6

In [ ]:
replace = ''

In [ ]:
new_string = re.sub(pattern, replace, string)

In [ ]:
print(new_string)

abc 12 de 23  f45